@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  :root {
    --font-family: "Nunito Variable", "Helvatica", sans-serif;
  }

  html,
  body {
    font-family: var(--font-family);
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.n-image-preview-toolbar .n-base-icon {
  padding: 0;
}

.n-image-preview-toolbar {
  gap: 1rem;
}

.h-layout {
  /* margin of the navbar + actual navbar */
  height: calc(100vh - 64px*2);
}

.min-h-layout {
  /* margin of the navbar + actual navbar */
  min-height: calc(100vh - 64px*2);
}