@import "tailwindcss";

@layer base {
  :root {
    --font-family: "Nunito Variable", "Helvatica", sans-serif;
  }
}

@plugin "@tailwindcss/typography";

@import "@fontsource-variable/nunito";
@import "@mdi/font/css/materialdesignicons.css";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body {
  --font-family: "Nunito Variable", sans-serif;
  font-family: var(--font-family);
}
